.addaBook {
  padding: 50px;
  width: 200px;
  float:right;
}
.Testbuttons {
  display: block;
  margin: 0 auto;
  text-align: center;
}
hr {
  position: absolute;
  text-align: center;
}
body {
  background: linear-gradient(#FFB3F9,#FF5EF2);
  background-repeat: no-repeat;
  height: 740px;
}
